body{
  background-color: #C490D1;
}
h1{
  font-size:300%;
  letter-spacing: 2px;
  color: #B8336A;
  text-decoration: underline;
  text-decoration-color: #B8336A;
  font-family: "Papyrus";
}
p{
  font-size: 200%;
  color: #B8336A;
}
img{
  width: 600px;
  border-style:ridge;
  border-color:#ABDAFC;
}
ul{
  text-align: center;
  list-style-type: none;
  font-family: "Papyrus";
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 30px;
  color: #ABDAFC;
  border: ridge;
}
li a:hover{
  background-color: #ABDAFC;
  color: #B8336A;
  font-family: verdana;
}
