body{
  background-color:#0C7489;
}
ul{
  list-style-type:none;
  width: 100%;
  text-align:center;
  position: fixed;
}
li{
  float:left;
}
li a{
  color:#D7D9CE;
  padding: 50px;
  font-family:"Papyrus", Fantasy;
  text-decoration-line: none;
  border-style:dashed;
}
li a:hover{
  background-color:white;
  color:#0C7489;
}
h2{
  color:#D7D9CE;
  font-size:500%;
  letter-spacing: 4px;
  text-decoration-line: underline;
}
p{
  color:#D7D9CE;
  font-size:250%;
}
img{
  width:50%;
  border:dashed #040404 10px;
}
iframe{
  border:dashed 
}
